<mat-toolbar >

    <span [routerLink]="['/']" > {{ title }} </span>

    <span class="space"></span>

    <mat-icon *ngIf="!isLoggedIn" [routerLink]="['/signin']" >account_circle</mat-icon>
    
   <div *ngIf="isLoggedIn" style="display: flex;">
    <mat-icon [matMenuTriggerFor]="menu" >more_vert</mat-icon>
        <mat-menu  #menu="matMenu">
            <button mat-menu-item disabled> {{ fullName }} </button>
            <button mat-menu-item (click)="logOut()">Log out</button>
        </mat-menu> 
   </div>
   

</mat-toolbar>

<router-outlet></router-outlet>
